body {
    font-family: 'Bookman Old Style', serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #f5f5dc; 
    color: #333;
}

header {
    color: #D4AF37;
    position: relative;
    text-align: center;
}

nav {
    background-color: #fff;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-bottom: 2px solid #D4AF37;
}

nav a {
    color: #D4AF37;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.main-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    flex-grow: 1;
    background-color: #f5f5dc;
}

section {
    padding: 20px;
    width: 55%;
    margin-left: 5%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: relative;
}

.nomination-heading {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #D4AF37;
    margin-top: 40px; /* Added margin-top to push it down */
}

.nomination-list {
    max-height: 500px;
    overflow: hidden;
    position: relative;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.nomination-list li {
    margin: 5px 0;
    font-size: 1.1em;
}

.read-more {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(245, 245, 220, 0.9);
    padding: 5px 10px;
    cursor: pointer;
    color: #D4AF37;
    font-weight: bold;
    border-radius: 5px;
}

.nomination-list.show-more {
    max-height: none;
}

.right-section {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.gif-container {
    text-align: center;
    width: 100%;
}

.gif-container img {
    max-width: 100%;
    height: auto;
    max-height: 600px;
    border-radius: 10px;
}

footer {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    border-top: 2px solid #D4AF37;
    border-radius: 0 0 10px 10px;
}

footer p {
    margin: 0;
}

h1, h3 {
    color: #333;
    margin-top: 40px;
}