body {
    font-family: Bookman Old Style;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow-x: hidden;
}

header {
    color: #D4AF37;
    position: absolute;
    left: 70px;
}

nav {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
}

nav a {
    color: #6b5c04;
    text-decoration: none;
    margin: 0 15px;
}

.home-button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.main-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

section {
    padding: 20px;
    text-align: center;
    width: 55%;
    margin-left: 5%;
    margin-right: 5%;
}

.right-section {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}

.image-container {
    text-align: center;
    width: 100%;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.nomination-list {
    text-align: center;
}

.nomination-heading {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.news-box {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.news-title {
    color: #333;
    font-size: 24px;
    margin-top: 0;
}

.news-content {
    color: #666;
}

.read-more {
    display: inline-block;
    background-color: #D4AF37;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
}

.read-more:hover {
    background-color: #b3901f;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images {
    flex: 1 1 33%;
    max-width: 300px;
    padding: 15px;
    text-align: center;
}

.images img {
    max-width: 100%;
    height: auto;
}